@import pages/main-page
@import pages/modal

*
    font-size: 1.1vw

::-webkit-scrollbar
    width: 0

::-webkit-scrollbar
    width: 6px

::-webkit-scrollbar-track
    background: #fff transparent
    box-shadow: 0 0 2px rgba(0, 0, 0, 0) inset

::-webkit-scrollbar-thumb
    background: #ffffff
    border-radius: 8px

body
    font-family: 'Montserrat', sans-serif
    background-color: #000000
    color: #ffffff
    scroll-behavior: smooth

    h1
        font-family: 'Montserrat Subrayada', sans-serif
        font-weight: 700
        font-size: 1.7em
    h2
        font-family: 'Libre Baskerville', serif
        font-weight: 700
        font-size: 3.3em
    p
        font-family: 'Libre Baskerville', serif
        font-weight: 700
        font-size: 1em
    ul
        list-style: none
        li
            font-family: 'Libre Baskerville', serif
            font-weight: 700
            font-size: 1em
            margin-bottom: 0.9vw
            line-height: 1.5
            &:last-child
                margin-bottom: 2vw
            /** &::before
             content: "-"
             position: relative
             left: -5px **/
    .container
        max-width: 1420px
        margin: 0 auto
        padding: 0 3.5% 0 3.5%
